.containerListCards {
    width: 80vw;
    margin: auto;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: .5rem 0;
}

.addButton {
    font-weight: 600;
    transition: all .2s ease-in-out;
}
.addButton:hover {
    transform: scale(1.03);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 2%;
    bottom: auto;
    transform: translate(-50%, -50%);
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .modal {
        right: -30%;
    }
}
